@define-color base      #282828;
@define-color text      #ebdbb2;
@define-color mauve     #d3869b;
@define-color lavender  #b4befe;
@define-color blue      #83a598;
@define-color green     #b8bb26;
@define-color yellow    #fabd2f;
@define-color orange    #fe8019;

* {
    border: none;
    border-radius: 0;
    font-family: "monospace", sans-serif;
    font-size: 12px;
    font-weight: bold;
}

window#waybar {
    background-color: @base;
    opacity: 1;
    border-radius: 0px;
}

#workspaces button {
    padding: 0 6px;
    color: @text;
    opacity: 0.4;
    transition: all 0.2s ease;
}

#workspaces button.active {
    color: @mauve;
    opacity: 1.0;
    font-size: 14px;
}

#workspaces button:hover {
    color: @lavender;
    background: transparent;
}

#clock, #memory, #pulseaudio, #language, #tray, #window, #network, #battery, #backlight {
    padding: 0 12px;
}

#window { color: @lavender; }
#clock { color: @mauve; }
#language { color: @blue; }
#memory { color: @green; }
#pulseaudio { color: @yellow; }
#backlight { color: @yellow; }
#network { color: @lavender; }
#battery { color: @orange; }
#tray { margin-right: 8px; }
